.main {
  height: 100vh;
  width: 100vw;
}

img {
  position: relative;
}

.click {
  position: absolute;
  border: 1px solid black;
  width: 5px;
  height: 5px;
}

.form {
  position: absolute;
  width: 15px;
  height: 20px;
}
