.main {
  height: 100vh;
  width: 100vw;
}

img {
  position: relative;
  width: 100vw;
}

.click {
  position: absolute;
  border: 2px solid black;
  width: 30px;
  height: 30px;
}

.form {
  position: absolute;
}

.markPerson {
  position: absolute;
  border: 2px solid green;
  width: 20px;
  height: 20px;
}
